:host {
    --annost: #f06060;
}

.annost {
    margin: 20px 0;
    border: 1px solid var(--annost);
    font-family: Arial;
}
.annost div.annost-bar {
    font-size: small;
    color: #fff;
    background: var(--annost);
    text-align: center;
    margin: 0;
    padding: 0;
}
.annost div.annost-content {
    padding: 10px 20px;
}
.annost div.annost-content > p.annost-role {
    margin: 0;
}
.annost div.annost-content > h2 {
    margin: 0 0 1ex 0;
}
