<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

{{ block "title" . }}
  <meta property="og:site_name" content="{{ .Site.Title }}">
{{   if .Site.Params.briefTitle }}
  <title>{{ .Site.Params.briefTitle }}{{ with .Title }} | {{ . }}{{ end }}</title>
  <meta property="og:title" content="{{ .Site.Params.briefTitle }}{{ with .Title }} | {{ . }}{{ end }}">
  <meta property="twitter:title" content="{{ .Site.Params.briefTitle }}{{ with .Title }} | {{ . }}{{ end }}">
{{   else }}
  <title>{{ .Site.Title }}{{ with .Title }} | {{ . }}{{ end }}</title>
  <meta property="og:title" content="{{ .Site.Title }}{{ with .Title }} | {{ . }}{{ end }}">
  <meta property="twitter:title" content="{{ .Site.Title }}{{ with .Title }} | {{ . }}{{ end }}">
{{   end }}
{{ end }}

  <meta property="og:url" content="{{ .Permalink | absLangURL }}">
  <meta property="og:locale" content="en_US">
  <meta name="twitter:card" content="summary">

{{ if .IsHome }}
  <meta property="og:type" content="website">
{{ else }}
  <meta property="og:type" content="article">
{{ end }}

{{ with .Site.Author.name }}
  <meta name="author" content="{{ . }}">
{{ end }}

{{ with .Site.Title }}
  <meta property="og:site_name" content="{{ . }}">
  <meta itemprop="name" content="{{ . }}">
{{ end }}

{{ with .Description }}
  <meta name="description" content="{{ . | truncate 155 }}">
  <meta itemprop="description" content="{{ . }}">
  <meta property="og:description" content="{{ . }}">
  <meta name="twitter:description" content="{{ . | truncate 200 }}">
{{ end }}

{{ with .Site.Params.ImageUrl }}
  <meta itemprop="image" content="{{ . }}">
  <meta name="twitter:image:src" content="{{ . }}">
  <meta property="og:image" content="{{ . }}">
{{ end }}
{{ with .Site.Params.Twitter }}
  <meta name="twitter:site" content="{{ . }}">
  <meta name="twitter:creator" content="{{ . }}">
{{ end }}

{{ with .Params.date }}
 <meta property="article:modified_time" content="{{ dateFormat "2006-01-02T15:04:05+07:00" . }}">
{{ end }}

{{ with .Keywords }}
  <meta name="keywords" content="{{ delimit . ", " }}">
  <meta property="article:tag" content="{{ delimit . ", " }}">
{{ end }}
  <link rel="icon" href="/favicon.ico">
{{ block "linksscripts" . }}
{{   partial "linksscripts.html" . }}
{{ end }}

{{ range .AlternativeOutputFormats -}}
{{   printf `  <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
 </head>
 <body>
  <noscript>This site requires (a little bit of) Javascript.</noscript>

{{ block "header" . }}
  <header>
   <div class="container">
{{   partial "headerlogo.html" . }}
    <div class="nav-tagline">
{{   partial "nav.html" .  }}
{{   partial "tagline.html" . }}
    </div>
   </div>
  </header>
{{ end }}

{{ block "nav-sections" . }}
{{   partial "nav-sections.html" . }}
{{ end }}

{{ block "main" . }}
  <p>Placeholder for main content.</p>
{{ end }}

{{ block "footer" . }}
{{   partial "footer.html" . }}
{{ end }}
 </body>
</html>
