{{ define "main" }}

{{   if .Params.class }}
<main class="{{ .Params.class }}">
{{   else }}
<main>
{{   end }}

{{   partial "toc.html" . }}
{{   partial "breadcrumbs.html" . }}

 <section>

{{   partial "title-et-al-main.html" . }}

{{   if .Content }}
  <div class="content">
{{     .Content }}
  </div>
{{     if .Pages }}
<h2>Details</h2>
{{     end }}
{{   end }}

{{   $p := ( .Paginate ( where ( where .Pages "Params.display" "!=" "hide" ) "Params.display" "!=" "false" )) }}
{{   partial "range-ul.html" $p.Pages.ByWeight }}
{{   partial "paginate-buttons.html" $p }}
 </section>
</main>
{{ end }}
