---
title: Test Run
summary: The execution of a particular Test Plan.
seealsoterm: [
    'TestPlan'
]
---
A Test Run is performed by executing a {{% gl TestPlan %}} with a command such as:
`feditest run --testplan <testplan-file>`.

The output of a Test Run is a {{% gl "report" %}}.